.rx-toolbar-button-group{
  display: flex;
  align-items: center;
}

.flip {
  -moz-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
  /*IE*/
  filter:FlipH;
}

.rx-light .rx-toolbar-color{
  background: #f2f4f4;
}