body,html {
  margin: 0;
  font-family: 'Roboto, Noto, "Helvetica Neue", Arial, sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}

.dragit-scrollbar ::-webkit-scrollbar {
  display: none;
}

.dragit-scrollbar:hover ::-webkit-scrollbar{
  display: block;
  width: 0.3rem;
  height: 0.3rem;
}

.dragit-scrollbar ::-webkit-scrollbar-track {
  border-radius: 0;
}
.dragit-scrollbar ::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: rgba(255,255,255, 0.3);
  transition: all .2s;
}

.dragit-scrollbar.light ::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: rgba(0,0,0, 0.3);
  transition: all .2s;
}


.dragit-page-content::-webkit-scrollbar{
  display: block;
  width: 0.4rem;
  height: 0.4rem;
}

.dragit-page-content::-webkit-scrollbar-track {
  border-radius: 0;
}
.dragit-page-content::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: rgba(255,255,255, 0.3);
  transition: all .2s;
}

.dragit-page-content.light::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: rgba(0,0,0, 0.3);
  transition: all .2s;
}

.elevation-light-1dp {
  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 2px 1px -1px rgba(0, 0, 0, 0.12); 
}
.elevation-light-2dp {
  box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 3px 1px -2px rgba(0, 0, 0, 0.12); 
}
.elevation-light-3dp {
  box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
  0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  0px 3px 3px -2px rgba(0, 0, 0, 0.12); 
}
.elevation-light-4dp {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12); 
}
.elevation-light-5dp {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 5px 8px 0px rgba(0, 0, 0, 0.14),
  0px 1px 14px 0px rgba(0, 0, 0, 0.12); 
}
.elevation-light-6dp {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12); 
}
.elevation-light-7dp {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
  0px 7px 10px 1px rgba(0, 0, 0, 0.14),
  0px 2px 16px 1px rgba(0, 0, 0, 0.12); 
}
.elevation-light-8dp {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px rgba(0, 0, 0, 0.12); 
}
.elevation-light-9dp {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
  0px 9px 12px 1px rgba(0, 0, 0, 0.14),
  0px 3px 16px 2px rgba(0, 0, 0, 0.12); 
}
.elevation-light-10dp {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
  0px 10px 14px 1px rgba(0, 0, 0, 0.14),
  0px 4px 18px 3px rgba(0, 0, 0, 0.12); 
}
.elevation-light-11dp {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
  0px 11px 15px 1px rgba(0, 0, 0, 0.14),
  0px 4px 20px 3px rgba(0, 0, 0, 0.12); 
}
.elevation-light-12dp {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
  0px 12px 17px 2px rgba(0, 0, 0, 0.14),
  0px 5px 22px 4px rgba(0, 0, 0, 0.12); 
}
.elevation-light-13dp {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
  0px 13px 19px 2px rgba(0, 0, 0, 0.14),
  0px 5px 24px 4px rgba(0, 0, 0, 0.12); 
}
.elevation-light-14dp {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
  0px 14px 21px 2px rgba(0, 0, 0, 0.14),
  0px 5px 26px 4px rgba(0, 0, 0, 0.12); 
}
.elevation-light-15dp {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
  0px 15px 22px 2px rgba(0, 0, 0, 0.14),
  0px 6px 28px 5px rgba(0, 0, 0, 0.12); 
}
.elevation-light-16dp {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
  0px 16px 24px 2px rgba(0, 0, 0, 0.14),
  0px 6px 30px 5px rgba(0, 0, 0, 0.12); 
}
.elevation-light-17dp {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
  0px 17px 26px 2px rgba(0, 0, 0, 0.14),
  0px 6px 32px 5px rgba(0, 0, 0, 0.12); 
}
.elevation-light-18dp {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
  0px 18px 28px 2px rgba(0, 0, 0, 0.14),
  0px 7px 34px 6px rgba(0, 0, 0, 0.12); 
}
.elevation-light-19dp {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
  0px 19px 29px 2px rgba(0, 0, 0, 0.14),
  0px 7px 36px 6px rgba(0, 0, 0, 0.12); 
}
.elevation-light-20dp {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
  0px 20px 31px 3px rgba(0, 0, 0, 0.14),
  0px 8px 38px 7px rgba(0, 0, 0, 0.12); 
}
.elevation-light-21dp {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
  0px 21px 33px 3px rgba(0, 0, 0, 0.14),
  0px 8px 40px 7px rgba(0, 0, 0, 0.12); 
}
.elevation-light-22dp {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
  0px 22px 35px 3px rgba(0, 0, 0, 0.14),
  0px 8px 42px 7px rgba(0, 0, 0, 0.12); 
}
.elevation-light-23dp {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
  0px 23px 36px 3px rgba(0, 0, 0, 0.14),
  0px 9px 44px 8px rgba(0, 0, 0, 0.12); 
}
.elevation-light-24dp {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
  0px 24px 38px 3px rgba(0, 0, 0, 0.14),
  0px 9px 46px 8px rgba(0, 0, 0, 0.12); 
}
