.CodeMirror {
  min-height: 300px !important;
  height: 100% !important;
  background-color: #181818 !important;
}

.CodeMirror ::-webkit-scrollbar {
    display: none;
    width: 0.3rem;
    height: 0.3rem;
}

.CodeMirror ::-webkit-scrollbar {
    display: block;
}

.CodeMirror:hover ::-webkit-scrollbar {
    display: block;
}

.CodeMirror ::-webkit-scrollbar-track {
    border-radius: 0;
}

.CodeMirror ::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
    background: rgba(255, 255, 255, 0.3);
    transition: all .2s;
}
